<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1> Welcome to Madlibs! Please answer the following questions: </h1>
    <form action="/madlib">
            <label>Please choose a person: <input type="text" name="person"></label>
            <br>
            <br>
            Please choose a color:
            <select name="color">
                <option value="red">Red</option>
                <option value="orange">Orange</option>
                <option value="yellow">Yellow</option>
                <option value="green">Green</option>
                <option value="blue">Blue</option>
                <option value="purple">Purple</option>
            </select>
            <br>
            <br>
            <label>Please choose a noun: <input type="text" name="noun"></label>
            <br>
            <br>
            <label>Please choose an adjective: <input type="text" name="adjective"></label>
            <br>
            <br>
            <input type="checkbox" name="animal" value="dog">Dog
            <input type="checkbox" name="animal" value="cat">Cat
            <input type="checkbox" name="animal" value="hedgehog">Hedgehog
            <input type="checkbox" name="animal" value="yak">Yak
            <input type="submit">
    </form>
</body>
</html>